/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background: rgb(211, 245, 245);
}

.Hedding {
  background              : rgb(80, 122, 248);
  border                  : 2px rgb(80, 122, 248) solid;
  height                  : auto;
  color                   : white;
  display                 : flex;
  grid-template-columns   : auto auto auto auto auto;
  grid-column-gap         : 70px;
  padding                 : 0px 10px;
  /* position             : fixed; */
}

.logo {
  width  : 14%;
  padding: 0px 5pc;
}

.search {
  margin       : auto;
  width        : 100%;
  border-radius: 10px;
  height       : 30px;
  padding      : 0px 10px;
}

.Name,
.More,
.Cart {
  margin: auto;
}

.product {
  width     : 100%;
  height    : 17em;
  background: whitesmoke;
}

.product img {
  /* width: 40%; */
  height       : 100px;
  border-radius: 10px;
}

.display {
  display              : grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap      : 12px;
  grid-row-gap         : 12px;

}

.cartBtn {
  background   : #ff0b39;
  color        : #fff;
  border-radius: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

/* margin-top: 200px; */

.cartBtn:hover {
  background: rgb(121, 238, 121);
  color     : black;
}

.sliderdiv {
  margin-bottom: 50px;
}

.Cart {
  color          : #fff;
  text-decoration: none;
}

.cartNumber {
  width: 30px;
}

.login_div {
  display              : flex;
  grid-template-columns: auto auto;
  width                : 50%;
  /* margin            : auto; */
  padding              : 50px 0px
}

.loginInput {
  margin-bottom: 20px;
  margin-top   : 20px;
  border       : none;
  border-bottom: 2px black solid;
  border-radius: 10px;
  padding      : 0px 10px;
  font-size    : 18px;
  height       : auto;
}

.headerdiv {
  display              : flex;
  grid-template-columns: auto auto;
}

.topButtons {
  height    : 40px;
  width     : 100%;
  border    : none;
  background: #a9dccc;
  text-align: center;
  font-size : 27px;
}

.form_div {
  margin: auto;
  width : 50%;
}

.Loginbutton {
  width        : 20%;
  font-size    : 20px;
  background   : #73bf73;
  border-radius: 20px;
  border       : none;
  margin-top: 20px;
}

.Alert {
  width     : 50%;
  margin    : auto;
  background: none !important;
}
.logout
{
  background: none;
  border: none;
  margin: auto;
  color: white;
  cursor: pointer;

}
.logout:hover
{
  background: #53da14;
  border-radius: 10px;
  
}
.remove
{
  padding: 0px 0px;
  width: 30%;
  font-size: 17px;
  background: #da3214;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  border: none;
}
.Buynow
{
  padding: 0px 0px;
  width: 30%;
  font-size: 17px;
  background: #53da14;
  border-radius: 20px;
  border: none;
}

.checkout{
  background: #61e061;
  border: none;
  border-radius: 10px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  float: right;
}

